/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
	BARVY
	czechitas  #b92e81
	pozadi     #bdc3c7
	tmava      #31363b
	delitka    #3f464d
	portfolio  #e74c3c
	facebook   #3b5998
	twitter    #1da1f2
*/

body {
	font-family: "Source Sans 3", serif;
	font-optical-sizing: auto;
	font-style: normal;
	background-color: #bdc3c7;
	color: white;
  }

  h1 {
	font-family: "Montserrat", serif;
	font-optical-sizing: auto;
	font-style: normal;
	margin-top: 10px;
  }

  .box {
	width: 300px;
	background-color: #31363b;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	margin: 150px auto;
  }

  .obsah {
	padding: 20px;
  }

  .foto {
	width: 100%;
  }

  .hlavicka {
	position: relative;
  }

  .logo {
	background-color: #b92e81;
	border-radius: 50%;
	position: absolute;
	bottom: -25px;
	right: 25px;
  }

  a {
	text-decoration: none;
	color: white;
	font-family: "Montserrat", serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 500;
  }

  ul {
	padding: 0;
	margin: 0;
  }

  li {
	list-style-type: none;
	text-align: center;
	padding: 10px;
	text-transform: uppercase;
	border-top: #3f464d 1px solid;
  }

  .facebook, .twitter {
	display: inline-block;
	width: 50%;
  }

  .facebook {
	border-right: #3f464d 1px solid;
  }

  .facebook:hover {
	background-color: #3b5998;
  }

  .twitter:hover {
	background-color: #1da1f2;
  }

  .portfolio:hover {
	background-color: #e74c3c;
  }